{% for room in rooms %}
<div class="shads">
<div class="alert alert-info" role="alert" style="background-color: #00ADB5">
<!-- {{room.id}} . -->
<h4 class="alert-heading" ><h3><a href="{% url 'room' room.id %}" style="color: #222831">{{room.name}}</h3></a>
{% if request.user == room.host %}
<p style="color: #222831"><a href="{% url 'update-room' room.id %}">Edit</a>
<a href="{% url 'delete-room' room.id %}">| Delete</a></p>
<hr>
{% endif %}
<p class="mb-0"><b><a href="{% url 'userProfile' room.host.id %}"><span>@{{room.host.username}} </span></b></a>
 {{room.participants.all.count}} Joined <a href="{% url 'home' %}?q={{room.topics.name}}"><small style="margin-left:5px;color:#222831"><b> {{room.topics.name}}</b></small></h4></a></p>
</div>
                    
                    
</div>
{% endfor %}